# ignore sqlite3 database
*.db
# Python binaries are boring
*.pyc
# ignore the dump file for database
dump.sql
# virtualenv
venv*
# code coverage
.coverage
cover

# self-signed certificate
server.csr
server.crt
server.key*
*.pem

# environment setup
my_env.py
# ctags
tags
# node.js folders
bower_components
node_modules

# sublime stuff
*.sublime-*

# weird Mac stuff
.DS_Store
.cache

# Node junk
npm-debug.log
