# ignore sqlite3 database
*.db

# Python binaries are boring
*.pyc

# ignore the dump file for database
dump.sql

# virtualenv
venv*
env

# code coverage
.coverage*
cover
htmlcov

# self-signed certificate
server.csr
server.crt
server.key*
*.pem

# environment setup
my_env.py

# ctags
tags

# node.js folders
node_modules

# sublime stuff
*.sublime-*

# weird Mac stuff
.DS_Store
.cache

# node.js junk
npm-debug.log

# output of minifier
static/js/dist
static/css/dist

# installed javascript modules
static/lib

# typescript-compiled files
static/js/src

# python3
.mypy_cache
.pytest_cache

# editor
.vimrc
.nvimrc
.vscode
*.code-workspace

# private future work document
TODO.md
IDEA.md
