# ignore sqlite3 database
*.db
# Python binaries are boring
*.pyc
# ignore the dump file for database
dump.sql
# virtualenv
venv

# self-signed certificate
server.csr
server.crt
server.key
# environment setup
my_env.py
# ctags
tags
# bower stuff
bower_components
