aniso8601==8.0.0
apipkg==1.4
appdirs==1.4.3
appnope==0.1.0
asn1crypto==0.24.0
astroid==2.4.2
atomicwrites==1.1.5
attrs==19.3.0
autopep8==1.6.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2022.12.7
cffi==1.15.0
chardet==3.0.4
coverage==5.4
entrypoints==0.3
Flask==2.1.1
Flask-Compress==1.4.0
Flask-Cors==3.0.10
Flask-JWT-Extended==4.4.4
flask-restx==1.1.0
Flask-SQLAlchemy==2.5.1
flask-talisman==0.8.1
Flask-WTF==1.1.1
gunicorn==20.0.4
idna==2.9
iniconfig==1.1.1
isort==5.7.0
itsdangerous==2.1.2
Jinja2==3.0.1
jsonschema==3.2.0
lazy-object-proxy==1.4.3
more-itertools==8.2.0
msgpack==1.0.2
packaging==20.3
pluggy==0.13.1
psycopg2==2.9.5
pycparser==2.18
pycryptodome==3.9.7
PyJWT==2.6.0
PyNaCl==1.4.0
pyparsing==2.4.6
pyrsistent==0.15.7
python-http-client==3.2.6
pytz==2019.3
redis==4.5.3
regex==2020.2.20
requests==2.25.1
sendgrid==6.9.6
six==1.15.0
soupsieve==2.0
SQLAlchemy==1.4.27
toml==0.10.2
urllib3==1.26.6
wcwidth==0.1.8
Werkzeug==2.2.3
wrapt==1.11.2
WTForms==2.2.1
zxcvbn==4.4.28
whitenoise==6.0.0
types-six==1.16.11
types-requests==2.27.11
types-urllib3==1.26.10
