.link {
    /* color consistent with .entry in entries.css */
    border: 1px solid #999;
    /* consistent with .entry in entries.css */
    border-radius: 3px;
    padding: .5rem 1rem;
    /* make bottom margin a bit smaller on mobile */
    margin-bottom: min(1rem, 1vh);
}

.link .link-id {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: .25rem;
}

.link-service-name {
    display: block;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: .25rem;
}

.link .fas {
    margin-left: .25rem;
}

.button-panel button:not(:last-of-type) {
    margin-right: .5rem;
}

.links-control-panel {
    display: block;
    margin: 1rem auto;
    text-align: center;
    /* make top margin a bit smaller on mobile */
    margin-top: min(1rem, 1vh);
}

.links-control-panel .control-panel-btn:not(:first-child) {
    margin-left: 1rem;
}

.link-container {
    padding-bottom: .5rem;
    max-width: 600px;
    margin: 0 auto;
}


/********* search-form **************/

#search-form {
    /* top, right, bottom, left */
    margin: 1rem auto 0 auto;
    max-width: 600px;
    padding-bottom: 1rem;
}

#search-form input[type="text"] {
    font-size: 1rem;
}


/********* search-form **************/