#export-btn {
    margin-top: 1em;
}

.alert {
    margin-top: 1em;
}

@media(min-width: 768px) {
    form {
        margin-left: 2%;
    }
}

form {
    max-width: 500px;
}

form .error-msg {
    font-size: 0.9em;
    color: red;
    display: block;
}

form .form-error {
    font-size: 0.9em;
    color: red;
    display: block;
}

#change-password-form label {
    margin-top: 0.5em;
}

#change-password-btn {
    margin-top: 0.5em;
}

#export-container {
    margin-left: 2em;
    margin-top: 2em;
}

#advanced-tabpanel {
    max-width: 600px;
    margin: 0 auto;
}
