#export-btn {
    margin-top: 1em;
}

.alert {
    margin-top: 1em;
}

form .error-msg {
    font-size: 0.9em;
    color: red;
    display: block;
}

form .form-error {
    font-size: 0.9em;
    color: red;
    display: block;
}

#change-password-form label {
    margin-top: 0.5em;
}

#change-password-btn {
    margin-top: 0.5em;
}

#export-form {
    margin-top: 1em;
}
