#submit-btn {
    margin-top: 0.5em;
}

.error {
    color: red;
    font-size: 0.9em;
    text-align: center;
}

.form-error {
    color: red;
    font-size: 0.9em;
    display: block;
}

.form-control {
    margin-bottom: 5px;
}

form {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;

    border: 1px solid #ccc;
    padding: 15px 20px;
    border-radius: 3px;
}
