html, body {
    background-color: #ddd;
    height: 100%;
}

.container {
    margin-top: 50px;
    background-color: #fff;
    height: 100%;
}

h1.title {
    text-align: center;
}

#logged-in-text {
    text-align: center;
}
