input[type="submit"] {
    margin-top: 4px;
}

/* display input on own line */
.form-control {
    display: block;
    width: 80%;
}

@media(min-width: 700px) {
    .form-control {
        width: 80%;
    }
}

@media(max-width: 699px) {
    .form-control {
        width: 90%;
    }
}

#show-hide-btn, #gen-pass-btn, #gen-passphrase-btn {
    margin-top: 0.5em;
}

@media(min-width: 700px) {
    #gen-pass-btn, #gen-passphrase-btn {
        margin-left: 0.5em;
    }
}

@media(max-width: 699px) {
    #gen-pass-btn, #gen-passphrase-btn {
        margin-left: 0;
    }
}

button[type="submit"] {
    margin-top: 0.5em;
}

form {
    display: block;
    max-width: 500px;
    margin: 0 auto;

    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 30px;

    padding-top: 1em;
    padding-bottom: 1em;
}

@media(min-width: 700px) {
    form {
        padding-left: 2em;
    }
}

@media (max-width: 699px) {
    form {
        padding-left: 0.8em;
    }
}

#create-btn {
    margin-top: 0.5em;
}

#len-container {
    margin-top: 10px;

    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 0.7em;
    padding-left: 1em;
    font-size: 0.9em;

    /*display: table-cell;*/
    display: block;
    max-width: 300px;
    vertical-align: center;

    border-radius: 10px;
    border: 1px solid #aaa;
}

#len-container button {
    padding-top: .25em;
    padding-bottom: .25em;
    padding-left: .2em;
}

#len-container .text {
    font-size: 1.1em;
}

#extra-container {
    margin-top: 0.4em;
}

#extra-container label {
    display: block;
}

button#toggleSymbols {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #999;
    padding: 5px 15px;
    font-size: 1.1em;
    border-radius: 3px;
    /*weight: bold;*/
}

#toggleSymbols:not(.active) .glyphicon {
    display: none;
}

button#toggleSymbols:not(.active) {
    background-color: #E8BB35;
}

button#toggleSymbols.active {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fafafa;
}

#len-container #phraseLen, #len-container #passLen {
    font-size: 1.3em;
}

.btn-settings {
    display: block;
    margin-top: 0.5em;
    border: 1px solid #777;
    background-color: #ddd;
}

.btn-settings .glyphicon {
    margin-right: 0.5em;
}
