input[type="submit"] {
    margin-top: 4px;
}

/* display input on own line */
.form-control {
    display: block;
    width: 80%;
}

#show-hide-btn, #gen-pass-btn {
    margin-top: 0.5em;
}

#gen-pass-btn {
    margin-left: 0.5em;
}

button[type="submit"] {
    margin-top: 0.5em;
}

form {
    display: block;
    max-width: 500px;
    margin: 0 auto;

    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 30px;

    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

#create-btn {
    margin-top: 0.5em;
}

#len-container {
    /*padding-top: 1em;*/
    padding-bottom: 0;
    margin-left: 0.5em;
    padding-right: 1em;
    padding-top: 0.8em;
    padding-bottom: 0.7em;
    display: table-cell;
    vertical-align: center;
}

#len-container button {
    padding-top: .3em;
    padding-bottom: .3em;
}

#len-container .text {
    font-size: 1.1em;
}

#extra-container {
    margin-top: 0.4em;
}

#extra-container label {
    display: block;
}

