main {
    /* adjust for the size of the navbar */
    padding-top: 4rem;
}

h2.title {
    font-weight: 400;
    text-align: center;
}

main#recovery-start-main,
main#recovery-confirm-main {
    max-width: 700px;
    margin: 0 auto;
}

form {
    max-width: 430px;
    margin: 0 auto;
}

/* make sure to not capture label for checkmark */
fieldset label {
    font-weight: 600;
}

.form-check {
    margin-top: 0.5rem;
}

button[type='submit'] {
    margin-top: 0.5rem;
}
