{%- extends "layout-react.jinja2" -%}

{% block js %}
    {# custom JS - webpack bundle #}
    <script src="{{ url_for("static", filename="js/dist/links.bundle.js") + "?build=" + config['BUILD_ID'] }}"></script>
{% endblock %}

{% block body %}
    <div id="root"></div>
    <form class="hidden">
		<input type="hidden" name="master_password" id="master_password" value="{{ session['password'] }}">
    </form>
{% endblock %}
