{%- extends "layout-react.jinja2" -%}

{% block js %}
    {# custom JS - webpack bundle #}
    <script src="{{ url_for("static", filename="js/dist/new-link.bundle.js") + "?build=" + config['BUILD_ID'] }}"></script>
{% endblock %}

{% block body %}
    <div id="root"></div>

    <form class="hidden">
		<input type="hidden" name="master_password" id="master_password" value="{{ session['password'] }}">
        <input type="hidden" name="link_id" id="link_id" value="{{ link_id }}">
        {% if link_id > 0 %}
            <input type="hidden" name="service_name" id="service_name" value="{{ service_name }}">
            <input type="hidden" name="link" id="link_value" value="{{ link }}">
        {% endif %}
    </form>
{% endblock %}
