main .form-control {
    /* display input on own line */
    display: block;
    width: 80%;
}

main form {
    border-radius: 10px;
    border: 1px solid #ccc;
    display: block;
    margin-top: 30px;
    margin: 0 auto;
    max-width: 500px;
    padding-bottom: 1em;
}

@media(min-width: 700px) {
    main .form-control {
        width: 100%;
    }

    main form {
		padding-left: 2em;
		padding-right: 2em;
        padding-top: 1em;
    }
}

@media(max-width: 699px) {
    main .form-control {
        /* on small devices form should take up more of screen */
        width: 100%;
    }

    main form {
        border: none;
        padding-left: 0;
    }
}

main .btn-container {
	margin-top: 0.5rem;
}

main .btn-container button:not(:last-of-type) {
	margin-right: .5rem
}

main #settings-container {
	margin-top: .5rem;
}

main #settings-container .toggle-special-chars-btn .fas {
	margin-right: .5rem;
}

main button[type="submit"] {
    margin-top: 0.5em;
}

main .input-range {
    max-width: 300px;
	min-width: 250px;
	display: block;
}

#create-btn {
    margin-top: 0.5em;
}

#extra-container {
    margin-top: 0.4em;
}

#extra-container label {
    display: block;
}

main .btn-settings {
    border: 1px solid black;
    background-color: #fff;
}

main .btn-settings .fas {
    margin-right: 0.4rem;
}

main .has-2fa-checkbox {
	margin-right: .5rem;
}

main form.hidden {
	display: none;
}