html, body {
    font-size: 1rem;
}

/* more compact display on phones and old tablets */
@media(max-width: 768px) {
    main.container {
        padding-right: 4px;
        padding-left: 4px;
        padding-top: 4rem;
    }
}

.inner-container {
    font-size: 1rem;
}

/********* search-form **************/
#search-form {
    /* top, right, bottom, left */
    margin: 1rem auto 0 auto;
    max-width: 600px;
}

#search-form input[type="text"] {
    font-size: 1rem;
}
/********* search-form **************/

/********* entry-container **********/
#entry-container {
    max-width: 600px;
    margin: 0 auto;
}

.entry {
    border: 1px solid #999;
    border-radius: 3px;

    padding-left: 2rem;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-top: .5rem;
    /* necessary for child positioning */
    position: relative;
}

.entry-title {
    font-weight: bold;
    margin: .1rem;
    font-size: 1.1rem;
}

@media(max-width: 768px) {
    .entry {
        padding-left: .9rem;
        padding-right: .9rem;
    }

    .entry-title {
        font-size: 1.2rem;
    }

    /* the copy button is going to be as long as the password */
    .entry-panel .copy-pwd-btn {
        width: 280px;
        margin-bottom: .5rem;
    }

    .entry .last-modified {
        /* hide last-modified on small devices for aesthetic reasons */
        display: none;
    }
}

.entry .last-modified {
    position: absolute;
    right: 10px;
    top: 10px;
}

.entry .password {
    min-width: 200px;
    max-width: 280px;
}

.entry .password.hidden-toggle,
.entry .extra.hidden-toggle {
    background-color: white;
}

.entry .password.text-hidden,
.entry .extra.text-hidden {
    color: #555;
    background-color: #555;
}

/**
 * For long passwords, so they don't overflow
 */
.entry .password.text-hidden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

#num-entries, #loading-text {
    font-size: 1.15em;
    font-weight: bold;
    text-align: center;
}
.entry-panel {
    margin-top: 0.4rem;
}

.entry-panel button {
    font-size: 1rem;
}

.entry-panel button:not(:last-of-type) {
    margin-right: .3rem;
}

.extra-container {
    margin-top: 0.4rem;
}

.extra {
    margin: 0;
    text-align: left;
    padding: 4px 10px;

    border-radius: 3px;
    border: 1px solid #555;
    max-width: 400px;
    min-height: 100px;
}
/********* entry-container **********/
