#global-error-msg {
    display: none;
}

#global-success-msg {
    display: none;
}

#change-password .progress-alert {
    display: none;
}

#readonly-user-details {
    margin-top: 1rem;
}

.table-info-cell {
    font-weight: bold;
}