{% extends "layout-react.jinja2" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/dist/about.min.css") + "?build=" + config['BUILD_ID'] }}">
{% endblock %}

{% block js %}
    <script src="{{ url_for("static", filename="js/dist/about.bundle.js") + "?build=" + config['BUILD_ID'] }}"></script>
{% endblock %}

{% block body %}
<div id="react-root"></div>
{% endblock %}
