{% extends "layout.html" %}

{% block css %}
<style>
h1,h2,h3 {
    font-weight: normal;
}

pre::first-line {
    line-height: 0px;
}
</style>
{% endblock %}

{% block body %}
<div class="main-content">
    <h2>PassZero API v1</h2>

    {%- include "api_v1_docs/method_table.html" -%}

    <!-- basic functions -->
    {%- include "api_v1_docs/get_csrf_token.html" -%}
    {%- include "api_v1_docs/post_login.html" -%}
    {%- include "api_v1_docs/post_logout.html" -%}

    <!-- entries -->
    {%- include "api_v1_docs/get_entries.html" -%}
    {%- include "api_v1_docs/post_entries_new.html" -%}
    {%- include "api_v1_docs/patch_entries_id.html" -%}
    {%- include "api_v1_docs/delete_entries_id.html" -%}
    {%- include "api_v1_docs/post_entries_nuclear.html" -%}

    <!-- user -->
    {%- include "api_v1_docs/delete_user.html" -%}
    {%- include "api_v1_docs/post_user_signup.html" -%}
    {%- include "api_v1_docs/post_user_activate.html" -%}
    {%- include "api_v1_docs/patch_user_password.html" -%}
    {%- include "api_v1_docs/get_user_preferences.html" -%}
    {%- include "api_v1_docs/patch_user_preferences.html" -%}
    {%- include "api_v1_docs/post_user_recover.html" -%}
    {%- include "api_v1_docs/post_user_recover_confirm.html" -%}
</div>
{% endblock %}
