{% extends "layout.html" -%}

{% block js %}
	<script src="{{ url_for("static", filename="js/dist/logoutTimer.min.js") + "?build=" + config['BUILD_ID'] }}"></script>
	<script src="{{ url_for("static", filename="js/dist/view_docs.bundle.js") + "?build=" + config['BUILD_ID'] }}"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/dist/docs.min.css") + "?build=" + config['BUILD_ID'] }}" />
{% endblock %}

{% block body %}
	<div id="react-root"></div>
{% endblock %}
