{% extends "layout.html" -%}

{% block js %}
    <script src="{{ url_for("static", filename="lib/angular/angular.js") }}"></script>
    <script src="{{ url_for("static", filename="lib/angular-animate/angular-animate.js") }}"></script>
    <script src="{{ url_for("static", filename="js/logoutTimer.js") + "?build=" + config['BUILD_ID'] }}"></script>
    <script src="{{ url_for("static", filename="js/entries.js") + "?build=" + config['BUILD_ID'] }}"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/entries.css") + "?build=" + config['BUILD_ID'] }}" />
{% endblock %}

{% block body %}
    {% raw %}
    <h1 class="title">PassZero Entries</h1>
    <div id="num-entries" ng-cloak>
        You have {{ ctrl.entries.length }} {{ (entries.length === 1 ? "entry" : "entries") }}
    </div>

    <form id="search-form" ng-if="ctrl.loadedEntries && ctrl.entries.length > 0"
        ng-submit="ctrl.submitSearch()" ng-cloak>
        <div class="input-group">
            <div class="input-group-addon glyphicon glyphicon-search"></div>
            <input type="text" name="search" id="search" class="form-control"
                placeholder="search" tabindex="1"
                ng-change="ctrl.submitSearch()"
                ng-model="ctrl.search" />
        </div>
    </form>

    <div id="entry-container" ng-cloak>
        <div ng-if="ctrl.loadedEntries && ctrl.entries.length === 0">
            <div class="empty-msg">No entries yet. Try <a href="/entries/new">making some</a>.</div>
        </div>

        <div ng-repeat="entry in ctrl.filteredEntries" ng-cloak>
            <div class="entry" id="entry-{{ entry.id }}">
                <div class="entry-title account">{{ entry.account }}</div>
                <div class="username">{{ entry.username }}</div>
                <div class="password hidden-toggle password-hidden"
                    ng-click="ctrl.toggleHidden(entry)">
                    <span class="inner-password">{{ entry.password }}</span>
                </div>
                <div ng-if="entry.extra">
                    <div class="extra-container">
                        <label for="extra">Extra Info</label>
                        <div name="extra" class="extra hidden-toggle password-hidden">{{ entry.extra }}</div>
                    </div>
                </div>
                <div class="entry-panel">
                    <button type="button" class="btn btn-warning edit-btn"
                        ng-click="ctrl.editEntry(entry.id)">Edit</button>
                    <button type="button" class="btn btn-info show-hide-btn" onclick="showHidePass(event)">Show</button>
                    <button type="button" class="btn btn-danger" class="delete-btn"
                        ng-click="ctrl.deleteEntry(entry)">Delete</button>
                </div>
            </div>
        </div>
    </div>
    {% endraw %}
    <form class="hidden">
        <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}" />
    </div>
{% endblock %}
