{% extends "layout.html" -%}

{% block js %}
    <script src="{{ url_for("static", filename="js/logoutTimer.js") }}"></script>
    <script src="{{ url_for("static", filename="js/entries.js") }}"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/entries.css") }}" />
{% endblock %}

{% block body %}
    <h1 class="title">PassZero Entries</h1>
    <div id="num-entries">You have {{ entries|length }} {{ ("entry" if entries|length == 1 else "entries") }}</div>

    <div id="entry-container">
        {%- if entries|length == 0 -%}
        <div class="empty-msg">No entries yet. Try <a href="/entries/new">making some</a>.</div>
        {%- endif -%}

        {% for row in entries %}
            <div class="entry" id="entry-{{ row["id"] }}">
                <div class="entry-title account">{{ row["account"] }}</div>
                <div class="username">{{ row["username"] }}</div>
                <div>
                    <input type="password" class="password form-control"
                        value="{{ row["password"] }}" readonly="true" />
                </div>
                <div class="entry-panel">
                    <button type="button" class="btn btn-warning edit-btn"
                        onclick="window.location.href='/edit/{{ row["id"] }}'">Edit</button>
                    <button type="button" class="btn btn-info show-hide-btn" onclick="showHidePass(event)">Show</button>
                    <button type="button" class="btn btn-danger" class="delete-btn"
                    onclick="deleteEntry(event, {{ row["id"] }}, '{{ row["account"] }}')">Delete</button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
