{% extends "layout.html" %}

{% block js %}
    <script src="{{ url_for("static", filename="js/entries.js") }}"></script>
{% endblock %}

{% block body %}
    <h1>PassZero Entries</h1>

    {% include "logged_in_nav.html" %}

    <div id="entry-container">
        {% if entries|length == 0 %}
            <div class="empty-msg">No entries yet</div>
        {% endif %}

        {% for row in entries %}
            <div class="entry">
                <h3 class="entry-title account">{{ row["account"] }}</h3>
                <div class="username">{{ row["username"] }}</div>
                <div>
                    <input type="password" class="password" value="{{ row["password"] }}"
                    readonly="true" minlength="{{ row["password"]|length }}"/>
                </div>
                <button type="button" id="show-hide-btn" onclick="showHidePass(event)">Show</button>
            </div>
        {% endfor %}
    </div>
{% endblock %}
