{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/dist/advanced.min.css") }}" />
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.5/css/theme.bootstrap_3.min.css"
		integrity="sha256-dXZ9g5NdsPlD0182JqLz9UFael+Ug5AYo63RfujWPu8="
		crossorigin="anonymous" />
{% endblock %}

{% block js %}
    <!-- make the table sortable -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.5/js/jquery.tablesorter.min.js"
		integrity="sha256-hwBdweUyYRh66ChQYK+o9bSD1fyYShd6oQVwZ6iq7Ww="
		crossorigin="anonymous"></script>
	<script>
		$(function() {
			$("#2fa-audit-table").tablesorter({
				theme: "bootstrap",
			});
		});
	</script>
{% endblock %}

{% block body %}
<h1 class="title">2Factor Audit</h1>
<div>
    <table id="2fa-audit-table" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Account</th>
                <th>Possible to enable 2FA on this service</th>
                <th>Has 2FA enabled</th>
            </tr>
        </thead>
        <tbody>
            {% for account, d in two_factor_map|dictsort %}
                <tr class="
                {%- if d["service_has_2fa"] and d["entry_has_2fa"] -%}
                    {{ "success" }}
                {%- elif d["service_has_2fa"] and not d["entry_has_2fa"] -%}
                    {{ "danger" }}
                {%- endif -%}
                ">
                    <td>{{ account }} <a href="/edit/{{ d["entry_id"] }}">edit</a></td>
                    <td>{{ ("?" if d["service_has_2fa"] is none else d["service_has_2fa"]|string ) }}</td>
                    <td>{{ ("?" if d["entry_has_2fa"] is none else d["entry_has_2fa"]|string ) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
