{% extends "layout-react.jinja2" %}

{% block css %}
    {# note that the advanced stylesheet is also used here #}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/dist/advanced.min.css") + "?build=" + config['BUILD_ID'] }}">
	{# <link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.5/css/theme.bootstrap_3.min.css"
		integrity="sha256-dXZ9g5NdsPlD0182JqLz9UFael+Ug5AYo63RfujWPu8="
		crossorigin="anonymous"
        referrerpolicy="no-referrer"> #}
{% endblock %}

{% block js %}
    {# make the table sortable #}
	{# <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.5/js/jquery.tablesorter.min.js"
		integrity="sha256-hwBdweUyYRh66ChQYK+o9bSD1fyYShd6oQVwZ6iq7Ww="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script> #}
    {# custom js #}
    <script src="{{ url_for("static", filename="js/dist/two-factor-audit.bundle.js") + "?build=" + config['BUILD_ID'] }}"></script>
{% endblock %}

{% block body %}
    <div id="react-root"></div>
{% endblock %}
