<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

        <title>PassZero</title>

        <link rel="manifest" href="/manifest.json" />
        <link rel="stylesheet" href="{{ url_for("static", filename="/css/dist/landing.min.css") }}" />
        <link rel="stylesheet" href="{{ url_for("static", filename="/css/dist/navbar.min.css") }}" />
    </head>
    <body>
        <div id="hero">
            <nav class="navbar">
                <ul class="nav-items">
                    <li class="nav-item"><a href="/login">Sign In</a></li>
                    <li class="nav-item"><a href="https://github.com/boompig/passzero">Code</a></li>
                    <li class="nav-item"><a href="https://github.com/boompig/passzero/issues">Bug Tracker</a></li>
                    <li class="nav-item"><a href="/api">API</a></li>
                </ul>
            </nav>

            <div id="hero-text-container">
                <div id="title-text-container">
                    <h1 id="title-text">PassZero</h1>
                    <div id="beta-sticker">Beta</div>
                </div>

                <div id="explain-stub">
                    Generate strong passwords and store them securely
                </div>

                <div id="btn-container">
                    <a id="try-now-btn" class="btn btn-primary"
                        href="/signup">Join Now</a>
                    <a id="learn-more-btn" class="btn"
                        href="/about">Learn More</a>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <!-- custom js -->
        <script src="{{ url_for("static", filename="/js/dist/register-sw.min.js") + "?build=" + config['BUILD_ID'] }}"></script>
    </body>
</html>
