<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

        <title>PassZero</title>

        <link rel="stylesheet" href="{{ url_for("static", filename="css/landing.css") }}" />
    </head>
    <body>
        <div id="hero">
            <nav class="navbar">
                <ul class="nav-items">
                    <li class="nav-item"><a href="/login">Sign In</a></li>
                    <li class="nav-item"><a href="https://github.com/boompig/passzero">Code</a></li>
                    <li class="nav-item"><a href="https://github.com/boompig/passzero/issues">Bug Tracker</a></li>
                </ul>
            </nav>

            <div id="hero-text-container">
                <div id="title-text-container">
                    <h1 id="title-text">PassZero</h1>
                    <div id="beta-sticker">Beta</div>
                </div>

                <div id="explain-stub">
                    Generate strong passwords and store them securely
                </div>

                <div id="btn-container">
                    <button id="try-now-btn" class="btn btn-primary"
                        onclick="window.location.href='/signup';">Try It Now</button>
                    <button id="learn-more-btn" class="btn"
                        onclick="window.location.href='/about';">Learn More</button>
                </div>
            </div>
        </div>

        <script src="{{ url_for("static", filename="lib/jquery/dist/jquery.min.js") }}"></script>
        <!--<script src="{{ url_for("static", filename="js/connecting_dots.js") }}"></script>-->
    </body>
</html>
