<!DOCTYPE html>
<html lang="en" ng-app="PassZero">
    <head>
        <meta charset="utf-8" />
        <!-- for mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- for IE - use latest engine -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <title>PassZero</title>

        <link rel="stylesheet" href="{{ url_for("static", filename="lib/bootstrap/dist/css/bootstrap.min.css") }}" />
        <link rel="stylesheet" href="{{ url_for("static", filename="css/dist/main.min.css") + "?build=" + config['BUILD_ID'] }}" />
        {% block css %}
        {% endblock %}
    </head>
    <body ng-controller="PassZeroCtrl as ctrl">
        {% include "nav.html" %}
        <div class="container">
            <div class="inner-container">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class=flashes>
                            {% for message in messages %}
                                <div class="alert alert-success" role="alert">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}

                {% block body %}
                {% endblock %}
            </div>
        </div>

        <!-- include jQuery on every page -->
        <script src="{{ url_for("static", filename="lib/jquery/dist/jquery.min.js") }}"></script>
        <script src="{{ url_for("static", filename="lib/bootstrap/dist/js/bootstrap.min.js") }}"></script>

        <!-- include utilities JS file -->
        <script src="{{ url_for("static", filename="js/dist/utils.min.js") + "?build=" + config['BUILD_ID'] }}"></script>
        <script src="{{ url_for("static", filename="js/dist/passzero_api.min.js") + "?build=" + config['BUILD_ID'] }}"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>
