<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>PassZero</title>

        <link rel="stylesheet" href="{{ url_for("static", filename="lib/bootstrap/dist/css/bootstrap.min.css") }}" />
        <link rel="stylesheet" href="{{ url_for("static", filename="css/main.css") }}" />
        {% block css %}
        {% endblock %}
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class=flashes>
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <div class="container">
            <div class="inner-container">

                {% block body %}
                {% endblock %}
            </div>
        </div>

        <!-- include jQuery on every page -->
        <script src="{{ url_for("static", filename="lib/jquery/dist/jquery.min.js") }}"></script> 
        <script src="{{ url_for("static", filename="lib/bootstrap/dist/js/bootstrap.min.js") }}"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>
