<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

        <title>
            {% if title %}
                {{ title|safe }}
            {%- else -%}
                PassZero
            {%- endif -%}
        </title>

        <link rel="manifest" href="/manifest.json">
        {# various icons #}
        <link rel="icon" type="image/png" href="/favicon.png">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">

        {# bootstrap CSS for error alert #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous" />

        {# custom CSS #}
        <link rel="stylesheet" href="{{ url_for("static", filename="/css/dist/landing.min.css") + "?build=" + config['BUILD_ID'] }}">
        <link rel="stylesheet" href="{{ url_for("static", filename="/css/dist/navbar.min.css") + "?build=" + config['BUILD_ID'] }}">

        {% block extra_css %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock%}

        {# custom js at the bottom #}
        <script src="{{ url_for("static", filename="/js/dist/register-sw.min.js") + "?build=" + config['BUILD_ID'] }}"></script>
        {% block extra_js %}
        {% endblock %}
    </body>
</html>
