<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

        <title>
            {% if title %}
                {{ title|safe }}
            {%- else -%}
                PassZero
            {%- endif -%}
        </title>

        <link rel="manifest" href="/manifest.json">
        {# various icons #}
        <link rel="icon" type="image/png" href="/favicon.png">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">

        {# bootstrap CSS for error alert #}
        {% if config["OFFLINE"] %}
            <link rel="stylesheet" href="/lib/bootstrap.min.css" />
        {% else %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
                integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
                crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% endif %}

        {# NOTE: all custom CSS is loaded in typescript w/ webpack #}

        {% block extra_css %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock%}

        {# custom js at the bottom #}
        <script src="{{ url_for("static", filename="/js/dist/register-sw.min.js") + "?build=" + config['BUILD_ID'] }}"></script>
        {% block extra_js %}
        {% endblock %}
    </body>
</html>
