<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8">
        {# for mobile #}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# for IE - use latest engine #}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>
            {% if title %}
                {{ title|safe }}
            {%- else -%}
                PassZero
            {%- endif -%}
        </title>

        <link rel="manifest" href="/manifest.json">
        <link rel="icon" type="image/png" href="/favicon.png">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">

        {% if not config["OFFLINE"] %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous" />
            {# fontawesome glyphicons #}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/solid.min.css" integrity="sha512-xIEmv/u9DeZZRfvRS06QVP2C97Hs5i0ePXDooLa5ZPla3jOgPT/w6CzoSMPuRiumP7A/xhnUBxRmgWWwU26ZeQ==" crossorigin="anonymous" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/fontawesome.min.css" integrity="sha512-shT5e46zNSD6lt4dlJHb+7LoUko9QZXTGlmWWx0qjI9UhQrElRb+Q5DM7SVte9G9ZNmovz2qIaV7IWv0xQkBkw==" crossorigin="anonymous" />
        {% endif %}
        {# custom CSS #}
        <link rel="stylesheet" href="{{ url_for("static", filename="css/dist/main.min.css") + "?build=" + config['BUILD_ID'] }}">
        {% block css %}
        {% endblock %}
    </head>
    <body>
        {% include "nav.jinja2" %}
        <main class="container">
            <div class="inner-container">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class=flashes>
                            {% for message in messages %}
                                <div class="alert alert-success" role="alert">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}

                {% block body %}
                {% endblock %}
            </div>
        </main>

        {% if not config["OFFLINE"] %}
            {# include jQuery on every page - needed for bootstrap4 navbar expansion #}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
            {# include bootstrap4 for navbar expansion #}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha512-XKa9Hemdy1Ui3KSGgJdgMyYlUg1gM+QhL6cnlyTe2qzMCYm4nAZ1PsVerQzTTXzonUR+dmswHqgJPuwCq1MaAg==" crossorigin="anonymous"></script>
        {% endif %}
        {% block js %}
        {% endblock %}
    </body>
</html>
