<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8">
        {# for mobile #}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# for IE - use latest engine #}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>
            {% if title %}
                {{ title|safe }}
            {%- else -%}
                PassZero
            {%- endif -%}
        </title>

        <link rel="manifest" href="/manifest.json">
        <link rel="icon" type="image/png" href="/favicon.png">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" integrity="sha256-SmSEXNAArTgQ8SR6kKpyP/N+jA8f8q8KpG0qQldSKos=" crossorigin="anonymous">
        {# fontawesome glyphicons #}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/solid.css" integrity="sha384-VGP9aw4WtGH/uPAOseYxZ+Vz/vaTb1ehm1bwx92Fm8dTrE+3boLfF1SpAtB1z7HW" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css" integrity="sha384-1rquJLNOM3ijoueaaeS5m+McXPJCGdr5HcA03/VHXxcp2kX2sUrQDmFc3jR5i/C7" crossorigin="anonymous">
        {# custom CSS #}
        <link rel="stylesheet" href="{{ url_for("static", filename="css/dist/main.min.css") + "?build=" + config['BUILD_ID'] }}">
        {% block css %}
        {% endblock %}
    </head>
    <body>
        {% include "nav.jinja2" %}
        <main class="container">
            <div class="inner-container">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class=flashes>
                            {% for message in messages %}
                                <div class="alert alert-success" role="alert">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}

                {% block body %}
                {% endblock %}
            </div>
        </main>

        {# include jQuery on every page - needed for bootstrap4 navbar expansion #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        {# include bootstrap4 for navbar expansion #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha256-VsEqElsCHSGmnmHXGQzvoWjWwoznFSZc6hs7ARLRacQ=" crossorigin="anonymous"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>
