{% extends "layout.html" %}
{% set active_page = ("login" if login else "signup") %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for("static", filename="/css/login.css") }}" />
{% endblock %}

{% block body %}
    <h1>
        {% if login %}
        Login to PassZero
        {% else %}
        Create a PassZero account
        {% endif %}
    </h1>

    <div class="error">
        {% if error %}
            Error:&nbsp;<span class="error-text">{{ error }}</span>
        {% endif %}
    </div>
    <form method="POST" action="/login" role="form">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email"
                placeholder="email" required="true" />

        <label for="password">Password</label>
        <input type="password" class="form-control" name="password"
                placeholder="password" required="true" />

        <button class="btn btn-success form-control" id="submit-btn"
            type="submit" name="submit">
            {% if login %}
                Log In
            {% else %}
                Sign Up
            {% endif %}
        </button>
    </form>
{% endblock %}
