<nav class="navbar">
    <ul class="nav-items">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/signup">Register</a></li>
        <li class="nav-item"><a href="/about">About</a></li>
    </ul>
</nav>

<div id="form-container">
    <form method="POST" action="/api/v1/login" role="form">
        <h1 class="title">
            Login to PassZero
        </h1>

        {% include "flash_messages.html" %}

        <span class="form-error" id="form-error-email"></span>
        <input type="email" class="form-control" name="email" tabindex="1"
            onchange="LoginForm.updateEmail(event)"
            placeholder="email" required="true" />

        <span class="form-error" id="form-error-password"></span>
        <input type="password" class="form-control" name="password" tabindex="2"
            placeholder="password" required="true" />
        <label for="remember">
            <input type="checkbox" name="remember" tabindex="3"
            onchange="LoginForm.checkRemember(event)" />
            <span>Remember email</span>
        </label>

        <a id="forgot-password" href="{{ url_for("recover_password") }}">Forgot Password</a>

        <button id="submit-btn"
            type="submit" name="submit">
                Log In
        </button>
    </form>
</div>
