<html lang="en">
    <head>
        <title>PassZero</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

        <link rel="manifest" href="/manifest.json">
        <link rel="icon" type="image/png" href="/favicon.png">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous" />

        {# custom CSS #}
        <link rel="stylesheet" href="{{ url_for("static", filename="/css/dist/login.min.css") + "?build=" + config['BUILD_ID'] }}">
        <link rel="stylesheet" href="{{ url_for("static", filename="/css/dist/navbar.min.css") + "?build=" + config['BUILD_ID'] }}">
    </head>
    <body>
        <div id="hero">
            {% if login %}
                {% include "login_existing.jinja2" %}
            {% else %}
                {% include "login_new.jinja2" %}
            {% endif %}
        </div>

        {# CDN jquery #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha512-XKa9Hemdy1Ui3KSGgJdgMyYlUg1gM+QhL6cnlyTe2qzMCYm4nAZ1PsVerQzTTXzonUR+dmswHqgJPuwCq1MaAg==" crossorigin="anonymous"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"
            integrity="sha256-NjbogQqosWgor0UBdCURR5dzcvAgHnfUZMcZ8RCwkk8="
            crossorigin="anonymous"></script>

        <script src="{{ url_for("static", filename="/js/dist/utils.min.js") + "?build=" + config['BUILD_ID'] }}"></script>
        <script src="{{ url_for("static", filename="/js/dist/passzero_api.min.js") + "?build=" + config['BUILD_ID'] }}"></script>
        <script src="{{ url_for("static", filename="/js/dist/login.min.js") + "?build=" + config['BUILD_ID'] }}"></script>
        <script src="{{ url_for("static", filename="/js/dist/register-sw.min.js") + "?build=" + config['BUILD_ID'] }}"></script>
    </body>
</html>
