{% set navbar = (
        [
            ("/", "index", "Home"),
            ("/view", "entries", "View Entries"),
            ("/entries/new", "new", "New Entry"),
            ("/advanced", "advanced", "Advanced"),
            ("/logout", "logout", "Sign Out")
        ] if ("user_id" in session) else [
            ("/", "index", "Home"),
            ("/about", "about", "About"),
            ("/login", "login", "Sign In"),
            ("/signup", "signup", "Sign Up")
        ]
)-%}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PassZero</a>
        </div>

        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% for href, id, caption in navbar %}
                    <li {% if href == request.path %} class="active" {% endif %}>
                        <a href="{{ href|e }}">
                            {%- if id == "index" -%}
                                <span class="glyphicon glyphicon-home"></span>
                            {%- elif id == "about" -%}
                                <span class="glyphicon glyphicon-file"></span>
                            {%- elif id == "login" -%}
                                <span class="glyphicon glyphicon-log-in"></span>
                            {%- elif id == "signup" -%}
                                <span class="glyphicon glyphicon-edit"></span>
                            {%- elif id == "entries" -%}
                                <span class="glyphicon glyphicon-th-list"></span>
                            {%- elif id == "new" -%}
                                <span class="glyphicon glyphicon-plus"></span>
                            {%- elif id == "advanced" -%}
                                <span class="glyphicon glyphicon-wrench"></span>
                            {%- elif id == "logout" -%}
                                <span class="glyphicon glyphicon-log-out"></span>
                            {%- endif -%}
                            <span class="nav-text">{{ caption|e }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
