{% set navbar = (
        [
            ("/entries", "entries", "Entries"),
            ("/links", "links", "Links"),
            ("/docs", "docs", "Documents"),
            ("/entries/new", "new", "New Entry"),
            ("/docs/new", "new-doc", "New Document"),
            ("/profile", "profile", "Profile"),
            ("/advanced", "advanced", "Advanced"),
            ("/logout", "logout", "Sign Out")
        ] if ("user_id" in session) else [
            ("/", "index", "Home"),
            ("/about", "about", "About"),
            ("/login", "login", "Sign In"),
            ("/signup", "signup", "Sign Up")
        ]
)-%}

<nav class="navbar navbar-dark bg-primary fixed-top navbar-expand-lg">
        <a class="navbar-brand" href="/">PassZero</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="navbar-nav ml-auto justify-content-end">
                {% for href, id, caption in navbar %}
                    <li class="navbar-item{% if href == request.path %} active{% endif %}">
                        {%- if id == "logout" -%}
                        {# this allows the logout process to happen via POST #}
                        <form method="POST" action="/logout" id="nav-logout-form">
                            <button class="btn btn-link nav-link" type="submit" role="link">
                                <i class="fas fa-sign-out-alt"></i><span class="nav-text">Sign Out</span>
                            </button>
                        </form>
                        {% else %}
                        <a class="nav-link" href="{{ href|e }}">
                            {%- if id == "index" -%}
                                <i class="fas fa-home"></i>
                            {%- elif id == "about" -%}
                                <i class="fas fa-file"></i>
                            {%- elif id == "login" -%}
                                <i class="fas fa-sign-in-alt"></i>
                            {%- elif id == "signup" -%}
                                <i class="fas fa-edit"></i>
                            {%- elif id == "entries" -%}
                                <i class="fas fa-list"></i>
                            {%- elif id == "links" -%}
                                <i class="fas fa-link"></i>
                            {%- elif id == "new" -%}
								<i class="fas fa-plus"></i>
                            {%- elif id == "profile" -%}
                                <i class="fas fa-user"></i>
                            {%- elif id == "advanced" -%}
                                <i class="fas fa-wrench"></i>
                            {%- elif id == "new-doc" -%}
                                <i class="fas fa-file-upload"></i>
                            {%- elif id == "docs" -%}
                                <i class="fas fa-file-archive"></i>
                            {%- endif -%}
                            <span class="nav-text">{{ caption|e }}</span>
                        </a>
                        {%- endif -%}
                    </li>
                {% endfor %}
            </ul>
        </div><!-- /.navbar-collapse -->
</nav>
