{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/dist/new.min.css") + "?build=" + config['BUILD_ID'] }}" />
{% endblock %}

{% block js %}
    <script src="{{ url_for("static", filename="js/dist/logoutTimer.min.js") + "?build=" + config['BUILD_ID'] }}"></script>
    <script src="{{ url_for("static", filename="js/dist/new.min.js") + "?build=" + config['BUILD_ID'] }}"></script>
{% endblock %}

{% block body %}
    {% if entry %}
        <form method="POST" action="/entries/{{ e_id }}" role="form"
            onsubmit="makeEdit(event)">
    {% else %}
        <form method="POST" action="api/v1/entries/new" role="form"
            onsubmit="createNew(event)">
    {% endif %}
        <h3 class="title">
            {%- if entry -%}
                Edit PassZero entry for {{ entry["account"] }}
            {%- else -%}
                Create new PassZero entry
            {%- endif -%}
        </h3>

        <label for="account">Account</label>
        <input type="text" name="account" required="true" class="form-control"
            value="{{ (entry["account"] if entry) }}" />

        <label for="username">Username</label>
        <input type="text" name="username" autocomplete="off" required="true" 
            class="form-control" value="{{ (entry["username"] if entry) }}"/>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" autocomplete="off" 
            required="true" class="form-control" value="{{ (entry["password"] if entry) }}" />

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        <button type="button" class="btn btn-info"
            id="show-hide-btn" onclick="showHidePassword(event)">Show</button>
        <button type="button" class="btn btn-info gen-pass-btn" id="gen-password-btn"
            onclick="genPassword(event)">Random Password</button>
        <button type="button" class="btn btn-info gen-pass-btn" id="gen-passphrase-btn"
            onclick="genPassphrase(event)">Random Phrase</button>

        <button type="button" class="btn btn-settings" onclick="showHideSettings()">
			<span class="glyphicon glyphicon-cog"></span><!-- Settings -->
        </button>
        <div id="len-container" style="display: none;">
            <div class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span class="glyphicon glyphicon-alert"></span>
                The default values can be changed permanently by editing <a href="/profile">your profile</a>.
            </div>
            <div class="password-settings">
                <span id="pass-len-text" class="text">Length</span>
                <button type="button" class="minus-btn" id="password-minus-btn"
                    aria-hidden="true" onclick="changeLen(-1)">-</button>
                <span id="password-length" class="text">
					{{ user_prefs["default_random_password_length"] }}</span>
                <button type="button" 
                    aria-hidden="true" onclick="changeLen(+1)">+</button>
                <div>
                    <!--<input type="checkbox" name="specialChar" id="specialChar" value="1" checked="checked" />-->
                    <button type="button" class="active" id="toggle-special-chars-btn"
						onclick="toggleSpecialChars(event)">
                        <span class="glyphicon glyphicon-ok"></span>
                        <span>Use special characters</span>
                    </button>
                </div>
            </div>
            <div class="passphrase-settings">
                <span class="text">Number of Words</span>
                <button type="button" class="minus-btn" aria-hidden="true" id="passphrase-minus-btn"
					onclick="changePhraseLen(-1)">-</button>
                <span id="passphrase-length" class="text">
					{{ user_prefs["default_random_passphrase_length"] }}</span>
                <button type="button" aria-hidden="true" onclick="changePhraseLen(+1)">+</button>
            </div>
        </div>

        <div id="extra-container">
            <label for="extra">Extra<label>
            <textarea class="form-control" name="extra" id="extra" rows="4" cols="50">{{ (entry["extra"] if entry and entry["extra"] else "") }}</textarea>
        </div>

        <div>
            <input type="checkbox" name="has_2fa"
                {{ ("checked" if entry and entry["has_2fa"] else "") }}>
            <label for="has_2fa">Acount has 2-factor authentication enabled</label>
        </div>

        <button type="submit" class="btn btn-success form-control" 
            id="create-btn">{{ ("Save" if entry else "Create" ) }}</button>
    </form>
{% endblock %}
