{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/new.css") }}" />
{% endblock %}

{% block js %}
    <script src="{{ url_for("static", filename="js/new.js") }}"></script>
{% endblock %}

{% block body %}
    {% if entry %}
        <form method="POST" action="/entries/{{ e_id }}" role="form"
            onsubmit="makeEdit(event)">
    {% else %}
        <form method="POST" action="{{ url_for('new_entry_api') }}" role="form"
            onsubmit="createNew(event)">
    {% endif %}

        <h1 class="title">
            {%- if entry -%}
                Edit PassZero entry for {{ entry["account"] }}
            {%- else -%}
                Create new PassZero entry
            {%- endif -%}
        </h1>

        <label for="account">Account</label>
        <input type="text" name="account" required="true" class="form-control"
            value="{{ (entry["account"] if entry) }}" />

        <label for="username">Username</label>
        <input type="text" name="username" autocomplete="off" required="true" 
            class="form-control" value="{{ (entry["username"] if entry) }}"/>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" autocomplete="off" 
            required="true" class="form-control" value="{{ (entry["password"] if entry) }}" />

        <button type="button" class="btn btn-info"
            id="show-hide-btn" onclick="showHidePassword(event)">Show</button>
        <button type="button" class="btn btn-info" id="gen-pass-btn" onclick="genPassword(10)"
            disabled="true">Random Password</button>

        <div>
            <label for="passLen">Password Length</label>
            <input type="number" name="passLen" min="1" max="30" value="10" id="passLen"
                    placeholder="len" maxwidth="2" class="form-control" />
        </div>

        <button type="submit" class="btn btn-success form-control" 
            id="create-btn">{{ ("Edit" if entry else "Create" ) }}</button>
    </form>
{% endblock %}
