{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/dist/new.min.css") + "?build=" + config['BUILD_ID'] }}" />
{% endblock %}

{% block js %}
    <!-- angular from CDN -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"
        integrity="sha256-jFCqhWdzGFjoG8/SAncY2afI/Xv1TPSWSZrb9dpXQbk="
        crossorigin="anonymous"></script>
    <!-- clipboard.js from CDN -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.1/clipboard.min.js"
        integrity="sha256-El0fEiD3YOM7uIVZztyQzmbbPlgEj0oJVxRWziUh4UE="
        crossorigin="anonymous"></script>

    <script src="{{ url_for("static", filename="js/dist/logoutTimer.min.js") + "?build=" + config['BUILD_ID'] }}"></script>
    <script src="{{ url_for("static", filename="js/dist/new.min.js") + "?build=" + config['BUILD_ID'] }}"></script>
{% endblock %}

{% block body %}
    {% if entry %}
        <form method="POST" action="/entries/{{ e_id }}" role="form"
            data-ng-submit="ctrl.makeEdit($event)"
            data-ng-init='ctrl.init({{ entry|tojson }})'>
    {% else %}
        <form method="POST" action="api/v1/entries/new" role="form"
            data-ng-submit="ctrl.createNew($event)"
            data-ng-init='ctrl.init(null)'>
    {% endif %}
        <!-- indented because all of the following is in a form -->
        <h3 class="title">
            {%- if entry -%}
                Edit PassZero entry for {{ entry["account"] }}
            {%- else -%}
                Create New Entry
            {%- endif -%}
        </h3>

        <label for="account">Account</label>
        <input type="text"
            name="account"
            required="true"
            class="form-control"
            autocomplete="off"
            ng-model="ctrl.entry.account" />

        <label for="username">Username</label>
        <input type="text"
            name="username"
            autocomplete="email"
            required="true" 
            class="form-control"
            ng-model="ctrl.entry.username" />

        <label for="password">Password</label>
        <input type="password"
            name="password"
            id="password"
            autocomplete="off" 
            required="true"
            class="form-control"
            ng-model="ctrl.entry.password" />

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        <div class="btn-container">
            {% raw %}
            <button type="button" class="btn btn-info ng-cloak"
                ng-if="ctrl.entry.id !== -1"
                id="show-hide-btn"
                data-ng-click="ctrl.showHidePassword($event)">
                <span data-ng-cloak>{{ ctrl.passwordIsVisible ? "Hide Password" : "Show Password" }}</span>
            </button>
            {% endraw %}
            <button type="button" class="btn btn-default btn-primary" id="gen-pass-btn"
                data-ng-click="ctrl.genPassword()">Random</button>
            {% raw %}
            <button type="button"
                ng-if="!ctrl.entry.is_encrypted"
                data-clipboard-text="{{ ctrl.entry.password }}"
                class="btn btn-success copy-pwd-btn"
                data-toggle="tooltip">Copy</button>
            {% endraw %}
            <button type="button" class="btn btn-settings" data-ng-click="ctrl.showHideSettings($event)">
                <span class="glyphicon glyphicon-cog"></span>Settings
            </button>
        </div>

        {% raw %}
        <div id="settings-container" data-ng-if="ctrl.showSettings" class="ng-cloak form-group">
            <div class="input-group">
                <h4>Password generation mode</h4>
                <div class="radio">
                    <label>
                        <input type="radio" name="passwordGenMode"
                            ng-model="ctrl.passwordGenMode" value="password">Password
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="passwordGenMode"
                            ng-model="ctrl.passwordGenMode" value="phrase">Phrase
                    </label>
                </div>
            </div>
            <div class="password-settings input-group" ng-if="ctrl.passwordGenMode === 'password'">
                <h4>Password Settings</h4>
                <span>Characters in Password: {{ ctrl.passwordLength }}</span>
                <input type="range" class="input-range" min="6" max="32" step="1"
                    ng-model="ctrl.passwordLength" />
                <div>
                    <button type="button" class="btn"
                        ng-class="{ 'btn-warning': !ctrl.useSpecialChars, 'btn-success' : ctrl.useSpecialChars }"
                        ng-click="ctrl.toggleUseSpecialChars($event)">
                        <span class="glyphicon"
                              ng-class="{ 'glyphicon-ok': ctrl.useSpecialChars, 'glyphicon-remove': !ctrl.useSpecialChars }"></span>
                        <span>Use special characters</span>
                    </button>
                </div>
            </div>
            <div class="passphrase-settings" ng-if="ctrl.passwordGenMode === 'phrase'">
                <h4>Passphrase Settings</h4>
                <span class="text">Number of Words: {{ ctrl.numWords }}</span>
                <input type="range" class="input-range" min="4" max="10" step="1"
                    ng-model="ctrl.numWords" />
            </div>
        </div>
        {% endraw %}

        <div id="extra-container">
            <label for="extra">Extra<label>
            {% raw %}
                <textarea class="form-control" name="extra" id="extra" rows="4" cols="50"
                    ng-model="ctrl.entry.extra">
                </textarea>
            {% endraw %}
        </div>

        <button type="submit" class="btn btn-success form-control" 
            id="create-btn">{{ ("Save" if entry else "Create" ) }}</button>
    </form>
{% endblock %}
