{% extends "layout-react-basic.jinja2" %}

{% block js %}
    <script src="{{ url_for("static", filename="js/dist/new-entry.bundle.js") + "?build=" + config['BUILD_ID'] }}"></script>
{% endblock %}

{% block body %}
    <div id="root"></div>
    <form class="hidden">
		<input type="hidden" name="user_prefs" id="user-prefs" value="{{ to_base64(user_prefs) }}">
		{%- if entry -%}
			<input type="hidden" name="serialized_entry" id="serialized-entry" value="{{ to_base64(entry) }}">
		{%- else -%}
			<input type="hidden" name="serialized_entry" id="serialized-entry" value="null">
		{%- endif -%}
    </form>
{% endblock %}
