{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/dist/advanced.min.css") + "?build=" + config['BUILD_ID'] }}" />
{% endblock %}

{% block js %}
{% endblock %}

{% block body %}
<h1 class="title">Password Strength</h1>
<div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Account</th>
                <th>Password Strength (0-4)</th>
                <th>Recommendation</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entry_scores|sort(attribute='score') %}
                <tr class="{{ {4: "table-success", 3: "table-success", 2: "table-warning", 1: "table-danger", 0: "table-danger"}[entry["score"]] }}">
                    <td>
                        <a href="/entries/{{ entry["id"] }}">{{ entry["account"] }}</a></td>
                    <td>
                        {{ entry["score"] }}</td>
                    <td>{{ entry["feedback"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
