{% extends "layout-react.jinja2" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/dist/advanced.min.css") + "?build=" + config['BUILD_ID'] }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/dist/profile.min.css") + "?build=" + config['BUILD_ID'] }}">
{% endblock %}

{% block js %}
    <script src="{{ url_for("static", filename="js/dist/logoutTimer.min.js") + "?build=" + config['BUILD_ID'] }}"></script>
    {# custom JS - webpack bundle #}
    <script src="{{ url_for("static", filename="js/dist/profile.bundle.js") + "?build=" + config['BUILD_ID'] }}"></script>
{% endblock %}

{% block body %}
    <div id="react-root"></div>
{% endblock %}