#export-btn {
    margin-top: 1em;
}

.alert {
    margin-top: 1em;
}

@media(min-width: 768px) {
    form {
        margin-left: 2%;
    }
}

form {
    max-width: 500px;
}

form .error-msg {
    font-size: 0.9em;
    color: red;
    display: block;
}

form .form-error {
    font-size: 0.9em;
    color: red;
    display: block;
}

#export-container {
    margin-left: 2em;
    margin-top: 2em;
}

#advanced-tabpanel {
    max-width: 600px;
    margin: 0 auto;
}


/* change-passsword */

/* user-prefs */
#user-prefs-container, #change-password-container {
    margin-top: 1em;
}

#user-prefs-form, #change-password-form {
    padding: 1em;
    /*border: 1px solid #aaa;*/
    margin-top: 0.5em;
    /*border-radius: 10px;*/
}

#user-prefs-container .title, #change-password-container .title {
    text-align: center;
    margin: 0 auto;
}

#user-prefs-form button, #change-password-form button {
    margin-top: 0.5em;
}
