form input {
	margin-bottom: 1em;
}

/*
 * This is the preview window when a document is shown
 */
.doc-preview {
	display: block;
}

img.doc-preview {
	margin: 0 auto;
}

/* same style as #entry-container */
#doc-container {
	max-width: 600px;
	margin: 0 auto;
}

/* same style as .entry */
.doc {
    border: 1px solid #999;
    border-radius: 3px;

    padding-left: 2em;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-top: .5em;
}

/* same style as .entry-title */
/* for use in view-documents page */
.doc-name {
	font-weight: bold;
	font-size: 1.2em;
	margin: .1em;
}

/* for use in new/edit page */
.doc-title {
	text-align: center;
}

/* same style as #num-entries */
#num-docs, #loading-text {
    font-size: 1.15em;
    font-weight: bold;
    text-align: center;
}

/* same style as .entry-panel */
.doc-panel {
    margin-top: 0.4em;
}

.doc-panel .btn:not(:first-child) {
	margin-left: .5em;
}

#doc-upload-form {
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/* copied from entries.css */
#search-form {
    /* top, right, bottom, left */
    margin: 1em auto 0 auto;
    max-width: 600px;
}
