.entry {
    border: 1px solid #999;
    border-radius: 3px;

    padding-left: 2em;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-top: .5em;
}

#search-form {
    /* top, right, bottom, left */
    margin: 1em auto 0 auto;
    max-width: 600px;
}

#search-form input[type="text"] {
    font-size: 1em;
}

.entry-title {
    font-weight: bold;
    font-size: 1.2em;
    margin: .1em;
}

.password {
    min-width: 200px;
    max-width: 280px;
    padding: 2px 5px;
    border-radius: 3px;
    border: 1px solid #555;
}

.hidden-toggle.password-hidden {
    color: #555;
    background-color: #555;
    cursor: pointer;
}

#num-entries, #loading-text {
    font-size: 1.15em;
    font-weight: bold;
    text-align: center;
}

#entry-container {
    max-width: 600px;
    margin: 0 auto;
}

.entry-panel {
    margin-top: 0.4em;
}

.entry-panel button {
    font-size: 1em;
}

.extra-container {
    margin-top: 0.4em;
}

.extra {
    margin: 0;
    text-align: left;
    padding: 4px 10px;

    border-radius: 3px;
    border: 1px solid #555;
    max-width: 400px;
    min-height: 100px;
}

/**
 * Hide ugly Angular stuff on load
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
