html, body {
    font-size: 1rem;
}

@media(max-width: 768px) {
    .container {
        padding-right: 5px;
        padding-left: 5px;

    }
}

.inner-container {
    font-size: 1rem;
}

/**
 * Hide ugly Angular stuff on load
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/********* search-form **************/
#search-form {
    /* top, right, bottom, left */
    margin: 1rem auto 0 auto;
    max-width: 600px;
}

#search-form input[type="text"] {
    font-size: 1rem;
}
/********* search-form **************/

/********* entry-container **********/
#entry-container {
    max-width: 600px;
    margin: 0 auto;
}

.entry {
    border: 1px solid #999;
    border-radius: 3px;

    padding-left: 2rem;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-top: .5rem;
}

.entry-title {
    font-weight: bold;
    margin: .1rem;
    font-size: 1.1rem;
}

@media(max-width: 768px) {
    .entry {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .entry-title {
        font-size: 1.2rem;
    }
}

.password {
    min-width: 200px;
    max-width: 280px;
    padding: 2px 5px;
    border-radius: 3px;
    border: 1px solid #555;
}

.hidden-toggle.password-hidden {
    color: #555;
    background-color: #555;
    cursor: pointer;
}

#num-entries, #loading-text {
    font-size: 1.15em;
    font-weight: bold;
    text-align: center;
}
.entry-panel {
    margin-top: 0.4rem;
}

.entry-panel button {
    font-size: 1rem;
}

.extra-container {
    margin-top: 0.4rem;
}

.extra {
    margin: 0;
    text-align: left;
    padding: 4px 10px;

    border-radius: 3px;
    border: 1px solid #555;
    max-width: 400px;
    min-height: 100px;
}
/********* entry-container **********/
