.link {
	border: 1px solid black;
	border-radius: 1rem;
	padding: .5rem 1rem;
	margin-bottom: 1rem;
}

.link .link-id {
	font-weight: bold;
	font-size: 1.1rem;
	margin-bottom: .25rem;
}

.link-service-name {
	display: block;
	font-weight: bold;
	font-size: 1.1rem;
	margin-bottom: .25rem;
}

.link .fas {
	margin-left: .25rem;
}

.button-panel button:not(:last-of-type) {
	margin-right: .5rem;
}

.new-link-btn {
	margin: 1rem auto;
	text-align: center;
	display: block;
	max-width: 300px;
}