html, body {
    background-color: #ddd;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    min-height: 100%;
    margin-top: 45px;
}

h1.title, h2.title, h3.title {
    text-align: center;
    font-weight: normal;
}

#logged-in-text {
    text-align: center;
}

.flashes {
    margin-top: 1em;
}

/***** customize navbar ***/
nav.navbar {
    background-color: #4FA8E0;
}

ul.nav.navbar-nav>li>a, ul.nav>li {
    color: #fff;
}

.navbar-header>a.navbar-brand {
    color: #fff;
}

ul.nav.navbar-nav>li.active>a {
    color: #fff;
    background-color: #1681C4;
}

ul.nav.navbar-nav>li.active>a:hover {
    background-color: #1681C4;
    color: #555;
}

ul.nav.navbar-nav>li>a:hover {
    color: #555;
}

ul.nav.navbar-nav>li>a>.fas {
    margin-right: 0.4rem;
}

.navbar-default .navbar-toggle span.icon-bar {
    color: #fff;
    background-color: #fff;
}

.navbar-header>button.navbar-toggle {
    border-color: #fff;
}

.navbar-header>button.navbar-toggle:hover, .navbar-header>button.navbar-toggle:focus {
    background-color: #1681C4;
}
/***************************/

/**** button styling *******/
/***************************/
