/* display input on own line */
.form-control {
    display: block;
    width: 80%;
}

@media(min-width: 700px) {
    .form-control {
        width: 80%;
    }
}

@media(max-width: 699px) {
    .form-control {
        width: 90%;
    }
}

#show-hide-btn, #gen-password-btn, #gen-passphrase-btn {
    margin-top: 0.5em;
}

@media(min-width: 700px) {
    #gen-password-btn, #gen-passphrase-btn {
        margin-left: 0.5em;
    }
}

@media(max-width: 699px) {
    #gen-password-btn, #gen-passphrase-btn {
        margin-left: 0;
    }
}

.btn-container {
    margin-top: 0.5em;
}

>>>>>>> 445a6a3... new.ts is now in Angular (1)
button[type="submit"] {
    margin-top: 0.5em;
}

.input-range {
    max-width: 300px;
    min-width: 250px;
}

form {
    border-radius: 10px;
    border: 1px solid #ccc;
    display: block;
    margin-top: 30px;
    margin: 0 auto;
    max-width: 500px;
    padding-bottom: 1em;
    padding-top: 1em;
}

@media(min-width: 700px) {
    form {
        padding-left: 2em;
    }
}

@media (max-width: 699px) {
    form {
        padding-left: 0.8em;
    }
}

#create-btn {
    margin-top: 0.5em;
}

#extra-container {
    margin-top: 0.4em;
}

#extra-container label {
    display: block;
}

<<<<<<< HEAD
button#toggle-special-chars-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #999;
    padding: 5px 15px;
    font-size: 1.1em;
    border-radius: 3px;
    /*weight: bold;*/
}

#toggle-special-chars-btn:not(.active) .glyphicon {
    display: none;
}

button#toggle-special-chars-btn:not(.active) {
    background-color: #E8BB35;
}

button#toggle-special-chars-btn.active {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fafafa;
}

#len-container #phraseLen, #len-container #passLen {
    font-size: 1.3em;
}

.btn-settings {
	display: inline-block;
    margin-top: 0.5em;
    border: 1px solid #777;
    background-color: #ddd;
=======
.btn-settings {
    border: 1px solid black;
    background-color: #fff;
>>>>>>> 445a6a3... new.ts is now in Angular (1)
}

.btn-settings .glyphicon {
    /*margin-right: 0.5em;*/
}
