/* display input on own line */
.form-control {
    display: block;
    width: 80%;
}

@media(min-width: 700px) {
    .form-control {
        width: 80%;
    }
}

@media(max-width: 699px) {
    .form-control {
        width: 90%;
    }
}

.btn-container {
    margin-top: 0.5em;
}

button[type="submit"] {
    margin-top: 0.5em;
}

.input-range {
    max-width: 300px;
    min-width: 250px;
}

form {
    border-radius: 10px;
    border: 1px solid #ccc;
    display: block;
    margin-top: 30px;
    margin: 0 auto;
    max-width: 500px;
    padding-bottom: 1em;
    padding-top: 1em;
}

@media(min-width: 700px) {
    form {
        padding-left: 2em;
    }
}

@media (max-width: 699px) {
    form {
        padding-left: 0.8em;
    }
}

#create-btn {
    margin-top: 0.5em;
}

#extra-container {
    margin-top: 0.4em;
}

#extra-container label {
    display: block;
}

.btn-settings {
    border: 1px solid black;
    background-color: #fff;
}

.btn-settings .glyphicon {
    margin-right: 0.5em;
}
