/**
 * Note that this is also being used in the password strength page
 * Also on the 2FA audit page
 * Also on the profile page
 */

#export-btn {
    margin-top: 1em;
}

.alert {
    margin-top: 1em;
}

@media screen and (min-width: 768px) {
    form {
        margin-left: 2%;
    }
}

form {
    max-width: 500px;
}

form .error-msg {
    font-size: 0.9em;
    color: red;
    display: block;
}

form .form-error {
    font-size: 0.9em;
    color: red;
    display: block;
}

.tab-text-container {
    margin-left: 2em;
    margin-top: 2em;
}

#advanced-tabpanel {
    max-width: 750px;
    margin: 0 auto;
}

#nuke-success-msg {
    display: none;
}


/* change-passsword */

/* user-prefs */
#user-prefs-container, #change-password-container, #update-entry-versions {
    margin-top: 1em;
}

#user-prefs-form, #change-password-form {
    padding: 1em;
}

#profile-tab-content .title {
    text-align: center;
    margin: 1em auto 0 auto;
}

#profile-tab-content button {
    margin-top: 0.5em;
}
